openapi: 3.0.0
info:
  title: User Service API
  version: 1.0.0
  description: API for managing users
paths:
  /createuser:
    post:
      summary: Creates a new user
      description: Creates a new user with the given username.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
              properties:
                username:
                  type: string
                  example: "testuser"
      responses:
        '200':
          description: User created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Hello testuser! welcome to the course!"
        '400':
          description: Error creating user
  /getusers:
    get:
      summary: Get all users
      responses:
        200:
          description: A list of users
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id_usuario:
                      type: integer
                    nombre:
                      type: string
                    nom_usuario:
                      type: string
